$primary-color: #8095FF;
$black-second: #31313A; 

.me {
  position: relative;
  overflow: hidden;
  @media (min-width: 768px) { 
    height: 510px;
    margin-top: 125px;
    margin-bottom: 215px;
  }
  @media (min-width: 900px) { 
    margin-bottom: 180px;
    margin-top: 30px;
    height: 610px;
  }
  @media (min-width: 1025px) { 
    margin-top: 0;
    height: 560px;
    margin-bottom: 150px;
  }
}

.presentation {
  margin-top: 12em;
  @media (min-width: 768px) { 
    margin-top: 80px;
  }
  @media (min-width: 1025px) { 
    margin-top: -25px;
    transform: translateX(-9vw);
    float: right;
    width: 800px;
  }
  @media (min-width: 1400px) {
    margin-top: -20px;
    transform: translateX(-12vw);
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 132.27%;
    
    @media (min-width: 768px) { 
      font-size: 70px;
    }
    
    @media (min-width: 900px) { 
      font-size: 90px;
    }

    @media (min-width: 1025px) { 
      font-size: 80px;
      line-height: 120%;
    }
    @media (min-width: 1400px) {
      font-size: 92px;
    }
  }

  span {
    display: inline-block;
    width: 65px;
    height: 0px;
    border: 2px solid $primary-color;
    position: relative;
    left: 0;
    top: -30px; 
    @media (min-width: 768px) { 
      width: 177px;
    }
  }

  a {
    display: none;
    @media (min-width: 768px) { 
      display: inline;
    }
  }
  p {
    @media (min-width: 1025px) { 
      padding: 0;
      margin: 0;
    }
  }
}
  
.design__text {
  @media (min-width: 768px) { 
    position: absolute;
    z-index: -1;
    top: 95px;
    right: 0;
    text-align: right;
  }

  @media (min-width: 1025px) { 
    top: -70px;
  }
  h1 {
    font-size: 7em;
    line-height: 148px;
    text-transform: uppercase;
    color: $black-second;
    font-weight: bold;
    @media (min-width: 768px) { 
      font-size: 13em;
      transform: translateX(150px);
      line-height: 0;
    }
    @media (min-width: 900px) { 
      font-size: 17em;
      transform: translateX(200px);
    }
    @media (min-width: 1025px) { 
      font-size: 26vw;
      transform: translateX(250px);
    }
    @media (min-width: 1400px) {
      font-size: 410px;
      transform: translateX(300px);
    }
  }
}

.about__me, .features {
  line-height: 144.3%;
  font-family: 'Merriweather';
	letter-spacing: 1.5px;
  position: relative;
  @media (min-width: 768px) { 
    padding-left: 10.6em;
  }
  @media (min-width: 1025px) { 
    padding-left: 30em;
  }
  p{
		margin-top: 1.5em;
  }
  h2 {
    @media (min-width: 768px) { 
      position: absolute;
      transform: rotate(-90deg);
      left: -12.4em;
      top: 12.5em;
      width: 100%;
      text-align: right;
    }
    @media (min-width: 900px) { 
      left: -16.8em;
      top: 17.3em;
    }
    @media (min-width: 1025px) { 
      left: -41vw;
      top: 570px;
    }
  }
}

.features {
  margin-top: 3em;
  padding-bottom: 3em;
  &--date {
    display: block;
    color: $primary-color;
  }
}