
.ip__header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: #13131E;
	h1 {
		margin: 0;
	}

	.loader__element {
		position: absolute;
		top: 0;
		min-height: 480px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ip__loader,.ip__title {
		position: absolute;
		left: 0;
		width: 100%;
		cursor: default;
		pointer-events: none;
	}

	.ip__loader,.loader__element {
		opacity: 0;
	}

	.ip__title {
		bottom: 45%;
		border-top: 3px solid #fff;
		text-align: right;
		padding-top: 16px;
		padding-right: 8px;
	}
	
	.ip__loader {
		bottom: 20%;
		visibility: hidden;
	}

	.ip__inner {
		margin-bottom: 20vh;
		display: none;
		@media (min-width: 1025px) {
			display: block;
		}
	}

	svg {
		path {
			fill: none;
			stroke-width: 6;

			&.ip__loader--circlebg {
				stroke: #ddd;
			}

			&.ip__loader--circle {
				-webkit-transition: stroke-dashoffset 0.2s;
				transition: stroke-dashoffset 0.2s;
				stroke: #E72B2B;
			}
		}
	}
}

/* Content */
.ip__main {
	overflow-x:hidden;
}

.browser {
	margin: 0 auto;
	padding-top: 8%;
	min-height: 400px;
	border-radius: 8px;
}


/* Animations */

/* Initial animation of header elements */

.loading {
	.ip__loader,.loader__element {
		opacity: 1;
		-webkit-animation: animInitialHeader 1s forwards;
		animation: animInitialHeader 1s forwards;
	}

	.ip__loader {
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
}

/* Header */
.loaded {
	/* Header elements when loading finishes */
	.ip__loader,.loader__element {
		opacity: 1;
	}


	.ip__loader {
		-webkit-animation: animLoadedLoader 0.5s backwards;
		animation: animLoadedLoader 0.5s backwards;
	}

	/* Header animation when loading finishes */
	.ip__header {
		-webkit-animation: animLoadedHeader 1.3s forwards;
		animation: animLoadedHeader 1.3s forwards;
	}

	/* Content animations */
	.ip__main {
		.browser {
			-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
			animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;

			section {
				-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
				animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;

				&:first-child {
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}

				&:nth-child(2) {
					-webkit-animation-delay: 0.15s;
					animation-delay: 0.15s;
				}

				&:nth-child(3) {
					-webkit-animation-delay: 0.2s;
					animation-delay: 0.2s;
				}
			}
		}
	}
}

/* Change layout class for header */
.layout__switch {
	.ip__header {
		position: absolute;
	}
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	margin-top: 4em;
	@media (min-width: 768px) {
		width: 100%;
		margin: 0;
	}

	a {
		@media (min-width: 768px) {
			line-height: initial;
		}
	}

	div {		
		height: 2px;
		background: $primary-color;
		width: 64px;
	}
}